#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: "flex";
  justify-content: "center";
}

.Plexiglass {
  background-color: #a6cee3 !important;
  font-weight: 800;
}
.Wood {
  background-color: #1f78b4 !important;
  font-weight: 800;
}
.Rubber {
  background-color: #b2df8a !important;
  font-weight: 800;
}
.Vinyl {
  background-color: #33a02c !important;
  font-weight: 800;
}
.Plastic {
  background-color: #fb9a99 !important;
  font-weight: 800;
}
.Aluminum {
  background-color: #e31a1c !important;
  font-weight: 800;
}
.Steel {
  background-color: #fdbf6f !important;
  font-weight: 800;
}
.Brass {
  background-color: #ff7f00 !important;
  font-weight: 800;
}
.Granite {
  background-color: #cab2d6 !important;
  font-weight: 800;
}
.Glass {
  background-color: #6a3d9a !important;
  font-weight: 800;
}
.Stone {
  background-color: #ffff99 !important;
  font-weight: 800;
}
